<h1 class="show_title">Welcome</h1>

<% form_tag :search, :id => "search_forma", :url => {:action => "index"} do %>
  <%= text_field :search, :text, :size => 50  %>
  <%= submit_tag 'Search', :class => "default_button_class" %>
<% end %>
<div style="text-align: center;">
	<h3>Most popular</h3>
	
	<% for code in @top_5 %>
		<%= link_to code.title, code %>
		<br />
	<% end %>
	
	<h3>Last comments</h3>
	
	<% for comment in @top_5_comments %>
		<% code = Code.find comment.code_id %>
		<% author = User.find comment.user_id %>
		<%= link_to code.title, code %> by <%= link_to author.username, 'users/'+author.username %>
		
		<br />
	<% end %>
</div>
<br /><br />