<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>User:</b>
  <%=h User.find(@comment.user_id).username%>
</p>

<p>
  <b>Code:</b>
  <%=h @comment.code.title %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
