<h1>LIBRARY</h1>

<table style="width: 100%">
	<tr>
		<td>
			<% @codes.each do |code| %>
			<table  id="codes_table">
  				<tr>
					<td style="width: 75%">
						<b><u><!--<%=h code.title %>--><%= link_to code.title, code %></u></b> 
						by 
						<b><u><%= link_to code.getAuthorName, user_path(code.getAuthorName) %></u></b>
						<br />
						<p><%=h code.shortdescription %></p>
					</td>
  					<td style="width: 5%; background-color: orange"><b><%= link_to code.getProgLangName, code.getProgLang %></b></td>
   				 	<td style="width: 10%; background-color: orange"><b><%= link_to code.getCategoryName, code.getCategory %></b></td>	
   			 		<td style="width: 5%; background-color: orange"><%= link_to 'Edit', edit_code_path(code) %></td>
    				<td style="width: 5%; background-color: orange"><%= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete %></td>
  				</tr>
			<% end %>
			</table>
		</td>
	</tr>
</table>

<br />
<%= link_to 'New code', new_code_path %>
