<h1>Library</h1>

<br/><br/><br/>

<p style="text-align: center;">CATEGORIES</p>
<table class="library_categories_table">
	<tr>
		<% for category in @categories -%>	
			<td id="<%= category.name %>" onclick="show_table_onclick(this.id)">
				<div class="entry">
					<%= link_to category.name, {:controller => 'codes', :action => 'index', :tip => "kategorija", :idX => category.id}, :post => true, :class => "categories_table_a" %> 
				</div>
			</td>
		<% end %>		
	</tr>
</table>

<p style="text-align: center;">LANGUAGES</p>
<table class="library_categories_table">
	<tr>
		<% for language in @languages -%>
			<td>
				<div class="entry">
					<%= link_to language.language_name, {:controller => 'codes', :action => 'index', :tip => "jezik", :idX => language.id}, :post => true, :class => "categories_table_a" %> 
				</div>
			</td>
		<% end %>
	</tr>
</table>
<br />

<table style="width: 100%">
	<tr>
		<td>
			<tr class="legend_tr">
				<td style="width: 70%"><a class="legend_a">Title</a>/<a class="legend_a">Author</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Views</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Comments</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Ratio</a></td>		
			</tr>
			<% @codes.each do |code| %>
			<table class="codes_table">
  				<tr>
					<td style="width: 70%">
						<%= link_to code.title, code %> 
						by 
						<%= link_to code.getAuthorName, user_path(code.getAuthorName) %>
						<br />
						<p><%=h code.shortdescription %></p>
						<p class="codes_table_p">
							<%= link_to code.getProgLangName, code.getProgLang, :class => "codes_table_a" %>
							/
							<%= link_to code.getCategoryName, code.getCategory, :class => "codes_table_a" %>
						</p>
					</td>
					<td class="codes_table_td" style="width: 10%;">999</td>
  					<td class="codes_table_td" style="width: 10%;">999</td>
   				 	<td class="codes_table_td" style="width: 10%;">9.9</td>	
  				</tr>
			<% end %>
			</table>
		</td>
	</tr>
</table>

<br />