<h1>Listing codes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Code body</th>
    <th>Tag</th>
    <th>Description</th>
    <th>Shortdescription</th>
    <th>User</th>
    <th>Program language</th>
    <th>Category</th>
    <th>Type</th>
  </tr>

<% @codes.each do |code| %>
  <tr>
    <td><%=h code.title %></td>
    <td><%=h code.code_body %></td>
    <td><%=h code.tag %></td>
    <td><%=h code.description %></td>
    <td><%=h code.shortdescription %></td>
    <td><%=h authorName(code) %></td>
    <td><%=h programLanguageName(code) %></td>
    <td><%=h code.category %></td>
    <td><%=h code.type %></td>
    <td><%= link_to 'Show', code %></td>
    <td><%= link_to 'Edit', edit_code_path(code) %></td>
    <td><%= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New code', new_code_path %>