
<h1 class="show_title">Add code</h1>

<% form_for(@code) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :shortdescription %><br />
    <%= f.text_field :shortdescription %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>	
  
  <p>
    <%= f.label :code_body %><br />
    <%= f.text_area :code_body %>

<!--	<%= f.file_field :uploaded_file %> -->
  </p>
  
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  
  <p id="program_language_id">
  	Program Language<br />
	<%= select :code, :program_language_id, ProgramLanguage.find(:all).collect{|p| [p.language_name, p.id]} %>
  </p>
  
  <p id="category_id">
  	Category<br />
	<%= select :code, :category_id, Category.find(:all).collect{|c| [c.name, c.id]} %>
  </p>
  
  <input id="code_type_id" name="code[type_id]" type="hidden" value="1" />
  
  <%= hidden_field_tag :response, params[:response] %>
  <%= hidden_field_tag :parentID, params[:parentID] %>
  <!--<p id="type_id">
  	Type<br />
	<%= select :code, :type_id, Type.find(:all).collect{|t| [t.name, t.id]} %>
  </p>-->
  
  <p>
    <%= f.submit 'Create', :class => "submit" %>
  </p>
  
<% end %>
