<br/><br/><br/><br/>
<table class="show_table">
	<tr>
		<td>
			<p>
			  	<h1 class="show_title"> 
					<%=h @code.title  %>
			  		<a class="show_title_a">
			  			<br/>by  
						<%= link_to @code.getAuthorName, user_path(@code.getAuthorName), :class => "show_title_a2" %>
					</a>
				</h1>
			</p>
		</td>
		<td class="show_table_td2">
			<p>
				<%=h @code.getProgLangName %>
				/
				<%=h @code.getCategoryName %>
			</p>
		</td>
	</tr>
</table>


<table class="show_description">
	<tr>
		<td>
			<p>
  				<p><b class="show_description_b">Description:</b></p>
  				<a class="show_description_a"><%=h @code.description %></a>
			</p>
		</td>
	</tr>
</table>


<p><b class="show_code_b">Code:</b></p>

<pre class="brush: c-sharp;">
<%=h @code.code_body %></a>
</pre>


<!--
<p>
  <b>Tag:</b>
  <%=h @code.tag %>
</p>
-->



<!--
<p>
  <b>Shortdescription:</b>
  <%=h @code.shortdescription %>
</p>
-->

<!-- CODE INFO -->
<!-- user, cat, type and stuff, in one line. -->
<!-- TODO: make links instead of titles -->
<!--<b>User:</b>-->


<!--
<b>Type:</b>
<%=h @code.getTypeName %>
-->

<!-- COMMENT AREA -->
<!-- Separated with horizontal line at teh moment, TODO: use something nicer :) -->

<!-- comment input form -->

<hr />
	<p>
		<%= @gradesPlus %> + <%= @gradesMinus %> -
	</p>

<hr />

<hr />
	<p>
		<% if @gradeUser == 0 %>		
			<%= link_to "I like", :controller => "codes", :action => "createGrade", :valueX => "1" , :userXid => session[:user_id], :codeXid => @code.id %>
			<%= link_to "I dont like", :controller => "codes", :action => "createGrade", :valueX => "-1" , :userXid => session[:user_id], :codeXid => @code.id %>
		<% elsif @gradeUser == 1 %>
			I already like this code <%= link_to "I dont like", :controller => "codes", :action => "gradeChange", :valueX => "-1" , :userXid => session[:user_id], :codeXid => @code.id %>
		<% elsif @gradeUser == -1 %>
			I dont like this code <%= link_to "I like", :controller => "codes", :action => "gradeChange", :valueX => "1" , :userXid => session[:user_id], :codeXid => @code.id %>
		<% end %>
	</p>

<hr />



<hr />
	<!-- create layout for insertion of comment -->
	<% form_tag :action => 'create_comment' do %>
		
		<!-- used for passing this code_id -->
		<input type="hidden" name="code_id" value="<%= @code.id %>"/>	

		<p>
    			<%= text_area :comment, :content, :class => "comment_text_area" %>
		</p>

		<p>
    			<%= submit_tag 'Comment', :class => "submit_button" %>
  		</p>	
	<% end %>

<hr />




<!-- comments show section -->
<hr />
	<p>
		<p> 
			<b> Comments </b>
		</p>

			<% @comments.each do |comment| %>
			<table  class="comments_table">
  				<tr>
					<td style="width: 80%">
						
						<br />
						by
						<%= link_to comment.getAuthorName, user_path(comment.getAuthorName) %> 
						<br />
						<%= image_tag (@profile.avatar, :size => "50x50") %>
						<p><%=h comment.content %></p>
					</td>
  		
  				</tr>
			<% end %>
			</table>

	</p>
<hr />


<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
