<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>CodeArchive</title>
		<%= stylesheet_link_tag 'style' %>
		<%= stylesheet_link_tag 'shCore.css' %>
		<%= stylesheet_link_tag 'shThemeDefault.css' %>
		<%= javascript_include_tag :defaults %>
		<script type="text/javascript" src="/javascripts/scripts/shCore.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushBash.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushCpp.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushCSharp.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushCss.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushDelphi.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushDiff.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushGroovy.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushJava.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushJScript.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushPhp.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushPlain.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushPython.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushRuby.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushScala.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushSql.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushVb.js"></script>
		<script type="text/javascript" src="/javascripts/scripts/shBrushXml.js"></script>
		<script type="text/javascript">
			SyntaxHighlighter.config.clipboardSwf = '/javascripts/scripts/clipboard.swf';
			SyntaxHighlighter.all();
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="sidebar">
				<!--<div id="slika" onclick="window.location='/'"></div>-->
				<a class="page_title" href="/">Code Archive</a>
				<ul>
					<li onclick="window.location='/'"><a class="buttons" href="/">Main</a></li>
					<li><a class="buttons" href="/codes">Library</a></li>
					<li><a class="buttons" href="/help">Help</a></li>
					<% if session[:user_id] %>
						<li><a class="buttons" href="/codes/new">Add Code</a></li>
						<li><a class="buttons" href="/profile">Profile</a></li>
					<% end %>
				</ul>
				
				<div id="loginbar">
					<% if !session[:user_id].nil? %> 
						<%= render :partial => "sessions/create" %>
					<% else %>
						<%= render :partial => "sessions/destroy" %>
					<% end %>
				</div>
			</div>
			<div id="main">
				
				
				
				<%= yield %>
			</div>
			<div style="clear: both"></div>
		</div>
	</body>
</html>
