<h1>Editing admin_log</h1>

<% form_for(@admin_log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @admin_log %> |
<%= link_to 'Back', admin_logs_path %>