<h1 class="show_title">Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <!--<p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>-->
  <p>
  	Others can see my email: 
  	<%= f.radio_button :email, "yes" %> Yes
	<%= f.radio_button :email, "no" %> No
  </p>
  <p>
    <%= f.label :IM %><br />
    <%= f.text_field :IM %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :portfolio %><br />
    <%= f.text_area :portfolio %>
  </p>
  <p>
    <%= f.label :webpage %><br />
    <%= f.text_field :webpage %>
  </p>
  <p>
    <%= f.label :avatar %><br />
	<%= f.file_field :uploaded_file %>
    <!-- <%= f.text_field :avatar %> -->
  </p>
  
  <p>
  	Codes listing:
    <%= f.select :listing, {'10' => 10, '20' => 20, '50' => 50, '100' => 100}  %>  	
  </p>
 <!-- <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>   -->
    <%= f.submit 'Update', :class => "submit" %>
  </p>
<% end %>
