<h1>New program_language</h1>

<% form_for(@program_language) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :language_name %><br />
    <%= f.text_field :language_name %>
  </p>
  <p>
    <%= f.label :syntax_tag %><br />
    <%= f.text_area :syntax_tag %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', program_languages_path %>
