<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>CodeArchiver</title>
		<%= stylesheet_link_tag 'style' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id="wrapper">
			<div id="sidebar">
				<div id="slika" onclick="window.location='/'"></div>
				<a class="buttons" href="/">Main</a>
				<a class="buttons" href="/codes">Library</a>
				<a class="buttons" href="/help">Help</a>
				<% if session[:user_id] %>
					<br />
					<a class="buttons" href="/codes/new">Add Code</a>
					<a class="buttons" href="/profile">Profile</a>
				<% end %>
			</div>
			<div id="main">
				
				<div id="loginbar">
					<% if session[:user_id] %> 
						<%= render :partial => "sessions/create" %>
					<% else %>
						<%= render :partial => "sessions/destroy" %>
					<% end %>
				</div>
				
				<%= yield %>
			</div>
			<div style="clear: both"></div>
		</div>
	</body>
</html>
