<h1><%=h @user.username %>'s code</h1>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>
<% if @profile.email=="yes" %>
	<p>
	  <b>Email:</b>
	  <%=h @user.email %>
	</p>
<% end %>
<p>
  <b>Im:</b>
  <%=h @profile.IM %>
</p>

<p>
  <b>Company:</b>
  <%=h @profile.company %>
</p>

<p>
  <b>Portfolio:</b>
  <%=h @profile.portfolio %>
</p>

<p>
  <b>Webpage:</b>
  <%=h @profile.webpage %>
</p>

<!--<p>
  <b>Avatar:</b>
  <%=h @profile.avatar %>
</p>-->



<table style="width: 100%">
	<tr>
		<td>
			<tr class="legend_tr">
				<td style="width: 70%"><a class="legend_a">Title</a>/<a class="legend_a">Author</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Views</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Comments</a></td>
				<td class="legend_td" style="width: 10%"><a class="legend_a">Ratio</a></td>		
			</tr>
			<% @codes.each do |code| %>
			<table class="codes_table">
  				<tr>
					<td style="width: 70%">
						<%= link_to code.title, code %> 
						by 
						<%= link_to code.getAuthorName, user_path(code.getAuthorName) %>
						<br />
						<p><%=h code.shortdescription %></p>
						<p class="codes_table_p">
							<%= link_to code.getProgLangName, code.getProgLang, :class => "codes_table_a" %>
							/
							<%= link_to code.getCategoryName, code.getCategory, :class => "codes_table_a" %>
						</p>
					</td>
					<td class="codes_table_td" style="width: 10%;">999</td>
  					<td class="codes_table_td" style="width: 10%;">999</td>
   				 	<td class="codes_table_td" style="width: 10%;">9.9</td>	
  				</tr>
			<% end %>
			</table>
		</td>
	</tr>
</table>

<br />

