<h1>Categories</h1>

<p>CATEGORIES</p>
<% for category in @categories -%>
	<div class="entry">
		<%= link_to category.name, {:controller => 'codes', :action => 'index', :tip => "kategorija", :idX => category.id}, :post => true %> 
	</div>
<% end %>
<br /><br />

<p>LANGUAGE NAMES</p>
<% for language in @languages -%>
	<div class="entry">
		<%= link_to language.language_name, {:controller => 'codes', :action => 'index', :tip => "jezik", :idX => language.id}, :post => true %> 
	</div>
<% end %>

<br /><br /><br /><br />

<table style="width: 100%">
	<tr>
		<td>
			<% @codes.each do |code| %>
			<table  class="codes_table">
  				<tr>
					<td style="width: 80%">
						<%= link_to code.title, code %> 
						by 
						<%= link_to code.getAuthorName, user_path(code.getAuthorName) %>
						<br />
						<p><%=h code.shortdescription %></p>
					</td>
  					<td class="codes_table_td" style="width: 10%;"><%= link_to code.getProgLangName, code.getProgLang %></td>
   				 	<td class="codes_table_td" style="width: 10%;"><%= link_to code.getCategoryName, code.getCategory %></td>	
  				</tr>
			<% end %>
			</table>
		</td>
	</tr>
</table>

<br />
<%= link_to 'New code', new_code_path %>