<p>
  <b>Title:</b>
  <%=h @code.title %>
</p>

<p>
  <b>Code body:</b>
  <%=h @code.code_body %>
</p>

<p>
  <b>Tag:</b>
  <%=h @code.tag %>
</p>

<p>
  <b>Description:</b>
  <%=h @code.description %>
</p>

<p>
  <b>Shortdescription:</b>
  <%=h @code.shortdescription %>
</p>

<p>
  <b>User:</b>
  <%=h @code.getAuthorName %>
</p>

<p>
  <b>Program language:</b>
  <%=h @code.getProgLangName %>
</p>

<p>
  <b>Category:</b>
  <%=h @code.getCategoryName %>
</p>

<p>
  <b>Type:</b>
  <%=h @code.getTypeName %>
</p>


<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
