<table class="show_table">
	<tr>
		<td>
			<p>
			  	<h1 class="show_title"> 
					<%=h @code.title  %>
			  		<a class="show_title_a">
			  			<br/>by  
						<%= link_to @code.getAuthorName, user_path(@code.getAuthorName), :class => "show_title_a2" %>
					</a>
				</h1>
			</p>
		</td>
		<td class="show_table_td2">
			<p>
				<%=h @code.getProgLangName %>
				/
				<%=h @code.getCategoryName %>
			</p>
		</td>
	</tr>
</table>


<table class="show_description">
	<tr>
		<td>
			<p>
  				<p><b class="show_description_b">Description:</b></p>
  				<a class="show_description_a"><%=h @code.description %></a>
			</p>
		</td>
	</tr>
</table>


<p><b class="show_code_b">Code:</b></p>

<pre class="brush: c-sharp;">
<%=h @code.code_body %></a>
</pre>


<!--
<p>
  <b>Tag:</b>
  <%=h @code.tag %>
</p>
-->



<!--
<p>
  <b>Shortdescription:</b>
  <%=h @code.shortdescription %>
</p>
-->

<!-- CODE INFO -->
<!-- user, cat, type and stuff, in one line. -->
<!-- TODO: make links instead of titles -->
<!--<b>User:</b>-->


<!--
<b>Type:</b>
<%=h @code.getTypeName %>
-->

<!-- COMMENT AREA -->
<!-- Separated with horizontal line at teh moment, TODO: use something nicer :) -->

<!-- comment input form -->

<br/><br/><br/>

<table  class="show_code_rateandcomment">
	<tr>	
	
		<td class="show_code_makecomment">
			<!-- create layout for insertion of comment -->
			<% form_tag :action => 'create_comment' do %>
				
				<!-- used for passing this code_id -->
				<input type="hidden" name="code_id" value="<%= @code.id %>"/>	
		
				<p>
		    			<%= text_area :comment, :content, :class => "comment_text_area" %>
				</p>
		
				<p style="padding-left: 110px;">
		    			<%= submit_tag 'Comment', :class => "submit_button" %>
		  		</p>	
			<% end %>
		</td>
	
		<td class="show_code_ilike">
			<table class="ilike_table">	
				<tr>
					<td>
						<p>
							Positive: <%= @gradesPlus %> 
						</p>
					</td>
					<td>
						<p>
							Negative: <%= @gradesMinus %>
						</p>
					</td>
				</tr>
			</table>
		
		
		
			<p>
				<% if @gradeUser == 0 %>
				<p>		
					<%= link_to "I like", :controller => "codes", :action => "createGrade", :valueX => "1" , :userXid => session[:user_id], :codeXid => @code.id %>
				</p>
				<p>
					<%= link_to "I dont like", :controller => "codes", :action => "createGrade", :valueX => "-1" , :userXid => session[:user_id], :codeXid => @code.id %>
				</p>
				<% elsif @gradeUser == 1 %>
				<p>
					I already like this code
				</p>
				<p> 
					<%= link_to "I dont like", :controller => "codes", :action => "gradeChange", :valueX => "-1" , :userXid => session[:user_id], :codeXid => @code.id %>
				</p>
				<% elsif @gradeUser == -1 %>
				<p>	
					I dont like this code 
				</p>
				<p>
					<%= link_to "I like", :controller => "codes", :action => "gradeChange", :valueX => "1" , :userXid => session[:user_id], :codeXid => @code.id %>
				</p>
				<% end %>
			</p>
		</td>
	
	</tr>
</table>


<!-- comments show section -->


		<p> 
			<b class="show_code_b"> Comments: </b>
		</p>
		
		
		<table  class="comments_table">
			<% @comments.each do |comment| %>
  				<tr>
  					<td class="comments_table_td1" style="width: 10%">
						<%= image_tag (@profile.picture_path, :size => "50x50") %>
  					</td>
					<td class="comments_table_td2" style="width:90%">
						<%= link_to comment.getAuthorName, user_path(comment.getAuthorName), :class => "show_title_a2" %> 
						said:
						<br />

						<p><%=h comment.content %></p>
					</td>
  				</tr>
			<% end %>
		</table>

<br/><br/><br/>
<p>
<!-- link edit, do only if authorised to do so -->
<% if @canedit == true %>
<%= link_to 'Edit', edit_code_path(@code) %> |
<% end %>

<!-- link back -->
<%= link_to 'Back', codes_path %>
</p>
